.calendar{
  background-color: rgb(249, 245, 218);
  height: 800px;
  width: 800px;
  text-align: center;
}

.calendar td{
  border: 1px solid #FFFFFF;
  justify-content: center; /* Wyśrodkowanie w poziomie */
}
.calendar thead{
  height: 20%;
}
.calendar tbody{
  margin-top: 150px;
}
.center-container{
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
}

.other_days_icon{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  user-select: none;
  border-radius: 50%;
}

.other_days_icon:hover {
  background-color: #87878746;
}

.today_icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 1px;
  cursor: pointer;
  background-color: #8fa7255b;
  text-align: center;
  line-height: 35px;
  user-select: none;
  border-radius: 50%;
}
.event_icon{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 1px;
  cursor: pointer;
  background-color: #cab8844d;
  text-align: center;
  line-height: 35px;
  user-select: none;
  border-radius: 50%;
}
.event_today_icon{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 0 1px;
  cursor: pointer;
  background-color: #cd94f959;
  text-align: center;
  line-height: 35px;
  user-select: none;
  border-radius: 50%;
}

.legend_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-left: 20px;
}

.legend{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:beige;
  height: 120px;
  width: 100%;
  padding: 5px;
  margin-bottom: 50px;
  border: 1px solid #3a3a3a60;
}
.legend2{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:beige;
  height: 100px;
  width: 100%;
  padding: 5px;
  border: 1px solid #3a3a3a60;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 150px;
}

.legend-item span {
  width: 20px; /* Szerokość kolorowego kwadratu */
  height: 20px; /* Wysokość kolorowego kwadratu */
  margin-right: 8px;
}











.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(205, 185, 153);
  width: max-content;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
