.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 40px auto;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  background-color: rgb(247, 243, 200); /* Kolor beżowy */
  padding: 20px; /* Wewnętrzny odstęp */
  box-sizing: border-box; /* Włączenie padding do szerokości */
}

.container-left form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-right .h2,.container-left .h1{
  font-size: 3em;
  color: #827d20;
  padding: 10px;
  margin-bottom: 50px;
}
.container-left input {
  width: 210px;
  height: 50px;
  padding: 0 25px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #fe4567;
  color: #44433d;
  animation: shake_541 0.14s 3;
}
input:required {
  animation: none;
}

.container-left .act_pass_text{
  font-size: 1em;
  color: #827d20;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-right .my_data{
  color: #827d20;
}
input:valid {
  border-color: #827d20;
  animation: none;
}

.container-left button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  white-space: nowrap; /* Tekst nie będzie się zawijał */
  background-color: #fffbb3;
  border: 1px solid #3A3A3A;
  color: #827d20;
  border-color: #827d20;
  border-radius: 8px; /* Zwiększenie zaokrąglenia rogów */
  font-size: 1em;
}

  .container-left .confirm-button{
    margin-top: 2%;
  }
  .container-left .confirm-button:hover{
    background-color: #9e982dc0;
  }

.container-right .data-border {
  font-size: 1em;
  width: 230px;
  height: 50px;
  padding: 0 16px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #9e982dc0;
  color: #73726d;
  line-height: 50px; /* Wyśrodkowanie tekstu w pionie */
}

@media (max-width: 1000px) {
  .container-left,
  .container-right {
    width: 100%;
    margin: 10px 10px;
  }
}