<!DOCTYPE html>
<html>
<head>
  <title>PlantReminder | MajaSkibinska</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/logged_style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/calendar_style.css') }}">
  <script src="{{ url_for('static', filename='scripts/calendar.js') }}" defer></script>
</head>
<body>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <h1 class="no-bold-header">PlantReminder</h1>
        <a href="/my_account">Moje konto</a>
        <a href="/my_plants">Moje rośliny</a>
        <a href="/calendar">Kalendarz</a>
        <img src="{{ url_for('static', filename='img/areka.png') }}">
        <div class="circle"></div>
      </div>
      <div class="center-container">
        <table class="calendar" id="calendar">
          <thead>
            <tr>
              <td><button id="prev" onclick="prev_month()">&larr;</button></td>
              <td colspan="5" id="calendar_top"></td>
              <td><button id="next" onclick="next_month()">&rarr;</button></td>
            </tr>
            <tr>
              <td>pon</td><td>wto</td><td>środ</td><td>czw</td><td>piąt</td><td>sob</td><td>niedz</td>
            </tr>
          </thead>
          <tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr>
          </tbody>
        </table>
        <div class="legend_bar">
          <div class="legend">
            <div class="legend-item">
              <span style="background-color: #8fa7255b;"></span> <!-- Kolor -->
              Dzisiejsza data
            </div>
            <div class="legend-item">
              <span style="background-color: #cd94f959;"></span> <!-- Kolor -->
              Dzisiaj wydarzenie
            </div>
            <div class="legend-item">
              <span style="background-color: #cab8844d;"></span> <!-- Kolor -->
              Wydarzenie
            </div>
          </div>
          <div class="legend2">
            <div class="legend-item">Aby dodać nowe wydarzenie, kliknij w wybraną datę.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="return-button-container">
      <button class="return-button" onclick="log_out()">Wyloguj mnie</button>
    </div>
    <script>
      function log_out() {
        // Ustaw czas wygaśnięcia ciasteczka na datę w przeszłości (np. 1 stycznia 1970 roku)
        const allCookies = document.cookie.split(';'); // Podziel ciasteczka po średniku
        for (let i = 0; i < allCookies.length; i++) {
        const cookie = allCookies[i].trim(); // Usuń ewentualne białe znaki
        console.log(cookie);
    }
        document.cookie = "login" + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href="/";
      }
    </script>
  </div>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>
