<html>
<head>
    <style>
        /* Styl dla nagłówka bez pogrubienia */
        .no-bold-header {
          font-weight: normal; /* Ustawienie normalnej grubości czcionki */
        }
    </style>
  <title>PlantReminder | MajaSkibinska</title
  <meta charset="utf-8">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="Roboto">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot_password.css') }}">
</head>
<body>
    <div class="center_container_forgot">
        <!-- Nagłówek bez pogrubienia -->
        <h1 class="no-bold-header">Zmiana hasła</h1>
        <h2 class="header2">Wpisz swój adres email,<br>a wyślemy ci link do zmiany hasła.</h2>
        <form>
          <input type="text" placeholder="E-mail"><br><br>
          <div id = "email_error">Brak takiego adresu email w bazie danych</div>
          <div class="button-container">
            <button class="Confirm-button"type="submit" formaction="index.html">Potwierdź</button>
          </div>
        </form>
          <button class="return-button" onclick="go_to_main_page()">Cofnij</button>
        <script>
          function go_to_main_page() {
            window.location.href="/";
          }
        </script>
    </div>
    <div class="footer">
      <p>© 2023 PlantReminder.</p>
    </div>
</body>
</html>