<!doctype html>
<html lang="en">
<head>
  <style>
    /* Styl dla nagłówka bez pogrubienia */
    .no-bold-header {
      font-weight: normal; /* Ustawienie normalnej grubości czcionki */
    }
  </style>
  <meta charset="utf-8">
  <title>Myappcss</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="Roboto">
</head>
<body>
  <center class="center-container">
    <!-- Nagłówek bez pogrubienia -->
    <h1 class="no-bold-header">Login</h1>

    <form action="podstrona_login" class = "bezimg-container" method="post" name = "form" onsubmit="return validated()">
      <input type = "text" placeholder = "Login" name = "login"><br><br>
      <div id = "login_error">Please fill up your Login</div>
      <input autocomplete="off" = "password" placeholder = "Password" name ="password" ><br><br>
      <div id = "pass_error">Please fill up your Password</div>
      <div class = "button-container">
        <form>
          <button class="signup-button"type="submit" formaction="podstrona_sign">Sign in</button>
          <button class="login-button" type="submit" formaction="podstrona_login">Log in</button>
        </form>
      </div>
    </form>
    <img src="{{ url_for('static', filename='img/purple_heather.jpg') }}">
  </center>
  <script>
    function goToSubpage() {
      // Przechodzenie do innej podstrony
      window.location.href = 'https://www.example.com';
    }
  </script>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
  <script> src="login.js"</script>
</body>
</html>
