<!doctype html>
<html lang="pl">
<head>
  <style>
    /* Styl dla nagłówka bez pogrubienia */
    .no-bold-header {
      font-weight: normal; /* Ustawienie normalnej grubości czcionki */
    }
  </style>
  <meta charset="utf-8">
  <title>PlantReminder | MajaSkibinska</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="Roboto">
</head>
<body>
  <center class="center-container">
    <!-- Nagłówek bez pogrubienia -->
    <h1 class="no-bold-header">Zaloguj się</h1>

    <form action="my_plants" class = "bezimg-container" method="post" name = "form" onsubmit="return validated()">
      <input type = "text" placeholder = "Login" name = "login"><br><br>
      <div id = "login_error">Wpisz poprawne hasło, aby się zalogować.</div>
      <div id = "regist_ok">Udana rejestracja, możesz się zalogować.</div>
      <input autocomplete="off" type = "password" placeholder = "Hasło" name ="password" ><br><br>
      <div id = "pass_error">Wpisz poprawne hasło, aby się zalogować</div>
      <div class = "button-container">
        <form>
          <button class="signup-button" type="button" onclick="window.location.href='/register_page'">Zarejestruj się</button>
          <button class="login-button" type="submit" formaction="my_plants">Zaloguj się</button>
        </form>
      </div>
      <a href="forgot_password">Zapomniałeś hasła?</a>
    </form>
    <img class="img_plant" src="{{ url_for('static', filename='img/purple_heather.jpg') }}">
  </center>
  <script>
    function goToSubpage() {
      // Przechodzenie do innej podstrony
      window.location.href = 'https://www.example.com';
    }
  </script>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>
