<!DOCTYPE html>
<html>
<head>
  <title>Moja Podstrona</title>
  <meta charset="utf-8">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/podstrona_login_style.css') }}"> <!-- Dodaj ten link -->

</head>
<body>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <h1 class="no-bold-header">PlantReminder</h1>
        <a href="#">Moje konto</a>
        <a href="/podstrona_login">Moje rośliny</a>
        <a href="calendar.html">Kalendarz</a>
        <img src="{{ url_for('static', filename='img/areka.png') }}">
        <div class="circle"></div>
      </div>
      <div class="center-container">
        <div class="container-left">
          <h1 class="h1">Zmiana hasła</h1>
          <form>
            <input type="text" placeholder="Aktualne hasło">
            <p class="act_pass_text">Wpisz aktualne hasło, żebyśmy wiedzieli, że to Ty.</p>
            <input type="text" placeholder="Nowe hasło">
            <p class="act_pass_text">Hasło musi mieć co najmniej 8 znaków.</p>
            <input type="text" placeholder="Potwierdź nowe hasło">
              <button class="Confirm-button">Potwierdź</button>
          </form>
        </div>
        <center class="container-right">
          <h2 class="h2">Moje dane</h2>
          <p class="my_data">Login użytkownika:</p>
          <div class="data-border"><strong>{{ login }}</strong></div>
          <p class="my_data">E-mail użytkownika:</p>
          <div class="data-border"><strong>{{ email }}</strong></div>
        </center>
      </div>
    </div>
    <div class="return-button-container">
      <button class="return-button" onclick="goBack()">Cofnij</button>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>





