<!DOCTYPE html>
<html lang="pl">
<head>
  <title>PlantReminder | MajaSkibinska</title>
  <meta charset="utf-8">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_plants_style.css') }}"> <!-- Dodaj ten link -->
</head>
<body>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <h1 class="no-bold-header">PlantReminder</h1>
        <a href="/my_account">Moje konto</a>
        <a href="#">Moje rośliny</a>
        <a href="/calendar">Kalendarz</a>
        <img src="{{ url_for('static', filename='img/areka.png') }}">
        <div class="circle"></div>
      </div>
      <div class="center-container" id="plant_cards">
        {{ plants_cards|safe }}
        <div class="card">
          <center class="add_plant_card">
              <h2 class="no-bold-header">Dodaj roślinę</h2>
              <button id="add_plant_button"class="add_plant_button" onclick="redirect_to_add_plant()">+</button>
          </center>
      </div>
      </div>
    </div>
    <div class="return-button-container">
      <button class="return-button" onclick="log_out()">Wyloguj mnie</button>
    </div>
    <script>
      function redirect_to_add_plant(){
        window.location.href="/plant_card";
      }
      function log_out() {
        // Ustaw czas wygaśnięcia ciasteczka na datę w przeszłości (np. 1 stycznia 1970 roku)
        const allCookies = document.cookie.split(';'); // Podziel ciasteczka po średniku
        for (let i = 0; i < allCookies.length; i++) {
          const cookie = allCookies[i].trim(); // Usuń ewentualne białe znaki
          console.log(cookie);
        }
        document.cookie = "login" + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href="/";
      }
    </script>
  </div>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>
