<!DOCTYPE html>
<html lang="pl">
<head>
  <title>AlertRoślinny | MajaSkibinska</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/logged_style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_plants_style.css') }}">
</head>
<body>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <h1 class="no-bold-header">AlertRoślinny</h1>
        <a href="/my_account">Moje konto</a>
        <a href="#">Moje rośliny</a>
        <a href="/calendar">Kalendarz</a>
        <img src="{{ url_for('static', filename='img/areka.png') }}">
        <div class="circle"></div>
      </div>
      <div class="center-container" id="plant_cards">
        {% for plant_card in plants_cards %}
        <div class="card " id={{ plant_card["color_id"] }}>
          <center>
            <h2 class="no-bold-header">{{ plant_card["species_name"] }}</h2>
            <h3 class="Species-header">{{ plant_card["plant_name"] }}</h3>
            <span style="display: block";>Następne podlewanie: Za <strong>{{ plant_card["days_to_water"] }}</strong> dni</span>
            <span style="display: block";>Następne nawożenie: Za <strong>{{ plant_card["days_to_fertiliz"] }}</strong> dni</span>
            <span style="display: block";>{{ plant_card["days_to_event"]|safe }}</span>
            <p class="species-description">{{ plant_card["description"] }}</p>
          <div class="edit_plant">
            <button id="remove_plant_button" onclick="remove_plant(parseInt('{{ plant_card.plant_id }}'))"><img class="care_icon" src="{{ url_for('static', filename='img/false.png') }}" alt="X"></button>
            <button id="edit_plant_button" onclick="redirect_to_add_plant(parseInt('{{ plant_card.plant_id }}'))"><img class="care_icon" src="{{ url_for('static', filename='img/pencil.png') }}" alt="edytuj"></button>
          </div>
          <div class="care_plant">
            <button id="water_plant_button" onclick="water_plant(parseInt('{{ plant_card.plant_id }}'))"><img class="care_icon" src="{{ url_for('static', filename='img/watering-can.png') }}" alt="podlej"></button>
            <button id="fert_plant_button" onclick="fertiliz_plant(parseInt('{{ plant_card.plant_id }}'))"><img class="care_icon" src="{{ url_for('static', filename='img/fertilizer.png') }}" alt="nawoź"></button>
          </div>
            
          </center>
        </div>
        {% endfor %}
        <div class="card">
          <center class="add_plant_card">
              <h2 class="no-bold-header">Dodaj roślinę</h2>
              <button id="add_plant_button"class="add_plant_button" onclick="redirect_to_add_plant(0)">+</button>
          </center>
      </div>
      </div>
    </div>
    
    <div class="return-button-container">
      <button class="return-button" onclick="log_out()">Wyloguj mnie</button>
    </div>
    <script src="{{ url_for('static', filename='scripts/my_plants.js') }}"></script>
  </div>
  <div class="footer">
    <p>© 2023 AlertRoślinny.</p>
  </div>
</body>
</html>
