<!DOCTYPE html>
<html>
<head>
  <title>PlantReminder | MajaSkibinska</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/plant_card_style.css') }}">
</head>
<body>
  <div class="main-container">
    <center class="center-container">
      <h2 class="no-bold-header">Dodawanie rośliny</h2>
      <label for="plant_name">Nazwa rośliny:</label>
      <input type="text" id="plant_name" maxlength="20" placeholder="Nazwa rośliny" value="{{ plant_name }}"><br><br>
      <label class="specie" for="species">Gatunek:</label>
      <div class="box">
      <select class = "box"id="species" name="species" onchange="download_species_data()">
        {{ available_species|safe }}
      </select>
      </div><br><br>
      <label for="watering_period">Okres podlewania:</label>
      <input type="number" id="watering_period" min="1" placeholder="dni" value="{{ watering_period }}"><br><br>
      <label for="fertiliz_period">Okres nawożenia:</label>
      <input type="number" id="fertiliz_period" min="1" placeholder="dni" value="{{ fertiliz_period }}"><br><br>
      <label for="plant_description">Opis:</label><br>
      <textarea id="plant_description" maxlength="100" rows="4" cols="50" type="text">{{ plant_description }}</textarea><br><br>
      <label for="last_watering">Data ostatniego podlania:</label>
      <input type="date" id="last_watering" value="{{ last_watering }}"><br><br>
      <label for="last_fertiliz">Data ostatniego nawiezienia:</label>
      <input type="date" id="last_fertiliz" value="{{ last_fertiliz }}"><br><br>

      <button class="login-button" type="button" onclick="{{ onclick_function|safe }}">{{ button_text|safe }}</button>
    </center>
    <div class="return-button-container">
      <button class="return-button" onclick="go_to_main_page()">Cofnij</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts/plant_card.js') }}"></script>
  <div class="footer">
      <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>