<html>
<head>
    <style>
        /* Styl dla nagłówka bez pogrubienia */
        .no-bold-header {
          font-weight: normal; /* Ustawienie normalnej grubości czcionki */
        }
    </style>
  <title>Moja Podstrona</title>
  <meta charset="utf-8">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="Roboto">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/podstrona_sign_style.css') }}"> <!-- Dodaj ten link -->
</head>
<body>
    <center class="center-container">
        <!-- Nagłówek bez pogrubienia -->
        <h1 class="no-bold-header">Zarejestruj się</h1>
        <form method="post">
          <input type="text" name="login" placeholder="Login"><br><br>
          <input type="text" name="email" placeholder="E-mail"><br><br>
          <input type="password" name="password" placeholder="Password"><br><br>
          
          <div class="button-container">
            <button class="signup-button" type="submit" formaction="/register">Create account</button>
          </div>
        </form>
          <button class="return-button" onclick="goBack()">Cofnij</button>
        <script>
          function goBack() {
            window.history.back();
          }
        </script>
    </center>
    <footer>
        <p>© 2023 PlantReminder.</p>
    </footer>
</body>
</html>