<!DOCTYPE html>
<html>
<head>
  <title>Moja Podstrona</title>
  <meta charset="utf-8">
  <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/podstrona_login_style.css') }}"> <!-- Dodaj ten link -->
</head>
<body>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="sidebar">
        <h1 class="no-bold-header">PlantReminder</h1>
        <a href="/my_account">Moje konto</a>
        <a href="#">Moje rośliny</a>
        <a href="calendar.html">Kalendarz</a>
        <img src="{{ url_for('static', filename='img/areka.png') }}">
        <div class="circle"></div>
      </div>
      <div class="center-container" id="plant_cards">
        {{ plants_cards|safe }}
      </div>
    </div>
    <div class="return-button-container">
      <button class="return-button" onclick="goBack()">Cofnij</button>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
  <div class="footer">
    <p>© 2023 PlantReminder.</p>
  </div>
</body>
</html>
